* {
  margin: 0px;
}
.dashboard-main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.dash-container {
  border: 1px solid rgb(195, 192, 192);
  width: 20%;
  padding: 15px;
  height: 98.7vh;
  background-color: #ffffff;
  background-size: cover;
  font-size: 15px;
  gap: 5px;
  font-family: "Robboto";
  font-style: "consolas", sans-serif;
}
.dash {
  font-size: 20px;
  color: rgb(159, 70, 223);
  background-color: rgb(222, 204, 221);
  font-weight: 600;
  width: 200px;
  padding: 8px;
  border-radius: 10px;
}
.list-of-names {
  font-size: 20px;
  color: rgb(137, 134, 134);
  padding: 10px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}
.list-of-names-sel {
  font-size: 20px;
  color: rgb(137, 134, 134);
  padding: 5px;
  font-weight: 600;
  width: 200px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.opt {
  font-family: "Robboto";
  font-style: "consolas", sans-serif;
}
.image {
  width: 40px;
  border-radius: 50%;
}
.dashboard-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.dash-icons {
  color: #603e9d;
  font-size: 40px;
  font-weight: bold;
  padding-right: 7px;
}
.min-dash-con {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dash-icons-small {
  color: #637680;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-i {
  color: #042c2ceb;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-o {
  color: #4ad95bf4;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-r {
  color: #3142d5f2;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-c {
  color: #e4c64df0;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-s {
  color: #68cadef1;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-ch {
  color: #db50deda;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-in {
  color: #3bbda1e2;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.dash-icons-small-ca {
  color: #182440f0;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.dash-icons-small-re {
  color: #c2164af0;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.dash-icons-small-ac {
  color: #2751b2f0;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
